Navigation Bar
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:palevioletred;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
.event-image{
    flex: auto;
    align-items: center;
    justify-content: center;
    border:2px solid palevioletred;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
}
/*Button*/
button,input[type=submit]{
    text-align: center;
    display: flex;
    border:2px solid palevioletred;
    background-color: black;
    border-radius:20px;
   
}
input[type=text]{
    height:80px;
    width:50%;
    margin:30px,50px;
    padding:1.5rem;
    border:2px solid black;
}