{% extends 'events/main.html' %}
{% block body %}
<div>
    <a href="{% url 'event-create' %}" class="btn btn-outline-success btn-sm">Add New Event</a>
</div>
<div>
    <form method="GET">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" name="search-area" value="{{search_area}}">
            <input type="submit" value="Search" class="btn btn-outline-primary" />
        </div>
    </form>
</div>
<div class="card-group">
    {% for event in events %}
    <div class="card" style="height: 100px;">
        <img src="{{event.image.url}}" class="card-img-top" alt="{{event.name}}">
        <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.description}}</p>
            <a href="{% url 'event-detail' event.id %}" class="btn btn-primary">View</a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock body %}