{% extends 'events/main.html' %}
{% load static %}
{% block body %}
<div>
    <h1>
        {{event.name}}
    </h1>
</div>
<hr>
<div>
    <img _ngcontent-serverapp-c221=""
        class="w-full parallax-img ng-star-inserted ng-lazyloaded simple-parallax-initialized"
        height="100" width="200"
        src="{{event.image.url}}"
        style="will-change: transform; transform: translate3d(0px, -17px, 0px); transition: transform 0.1s linear 0s;">
    <!-- <img src="{% static event.image.url %}" alt="" /> -->
</div>
{% if event.host == user %}
<div>
    <a href="{% url 'event-update' event.id %}" class="btn btn-primary">Update</a>
    <a href="{% url 'event-delete' event.id %}" class="btn btn-danger">Delete</a>    
</div>
{% endif %}
<div>
    {{event.description}}
</div>
<hr>
<div>
    {% for comment in comments %}
    <div>
        {{comment.message}}
    </div>
    <div>
        postedby - {{comment.user}}
    </div>
    {% if comment.user == user %}
    <div>
        <a href="{% url 'delete-comment' comment.id %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
    {% endif %}
    <hr>
    {% endfor %}
</div>
<hr>
<div>
    <form method="POST">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="rounded" placeholder="Type Your Comment Here" aria-label="Search"
                aria-describedby="search-addon" name="comment-message" />
            <input type="submit" value="Post Comment" class="btn btn-outline-primary" />
        </div>
    </form>
</div>
{% endblock body %}