<!DOCTYPE html>
<html lang="en">
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/startups.css' %}">
  
  <link rel="stylesheet" media="screen and (max-width:1170)" href="phone.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <title>FierceLadies|FierceLadies.com</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block body %}

        {% endblock body %}
    </div>
</body>

</html>