* {
    padding: 0;
    margin: 0;
}
body {
    background: -webkit-linear-gradient(left,rgb(232, 40, 191),pink);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container {
    width: 30vw;
height: 80vh;
margin-left: 0vw;
margin-top: 20vh;
display: flex;
justify-content: center;
align-content: center;
overflow: hidden;
}
#Login {
    width: 40vw;
height: 50vh;
display: inline-table;
margin-left: 20vw;
}
.EmployeeSingUp {
    width: 40vw;
height: 50vh;
display: inline-table;
}
#SignUpUserName, #SignUpPassword, #Email, #MobileNO, #CheckPassword {
    margin-top: 1vw;
    width: 20vw;
    border: 3px solid blueviolet;
    border-radius: 5vw;
    padding-left: 2vw;
    margin-left: 10vw;
    height: 5vh;
}
#UserName, #Password {
    margin-top: 2vw;
width: 20vw;
border: 3px solid blueviolet;
border-radius: 5vw;
padding-left: 2vw;
margin-left: 10vw;
height: 10vh;
}
#forgotPassword {
     margin-left: 12vw;
     margin-top: 5vh;
}
.btn {
    margin-left: 8vw;
    height: 4vh;
    width: 24vw;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
#LoginBtn {
    height: 4vh;
    width: 10vh;
    border:2px solid gray;
    border-radius: 5vw;
}
#EmployeeSignUP {
    width: 11vw;
height: 4vh;
margin-left: 1vw;
border:2px solid gray;
border-radius: 5vw;
}
#SignUpBtn {
    margin-left: 4vw;
    height: 4vh;
    width: 10vh;
    border:2px solid gray;
    border-radius: 5vw;
}
#Loginpage {
    margin-left: 1vw;
    border:2px solid gray;
    border-radius: 5vw;
}
#EmployerSignUp {
    width: 11vw;
    height: 4vh;
    margin-left: 1vw;
    border:2px solid gray;
    border-radius: 5vw;
}
.LoginHead {
    font-size: 35px;
    margin-left: 17vw;
}
.EmpoloyeeSignUpHead {
    font-size: 30px;
    margin-left: 10vw;
}
.EmployersignUp {
    width:40vw;
    height:50vh;
    display: inline-table;
}
.EmpoloyeeSignUpHead {
    font-size: 35px;
    margin-left: 17vw;
}
